<a href="https://colab.research.google.com/github/Umerfarooq122/Python-Projects/blob/main/Assignment7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


## **Data Cleaning**


---
Data Cleaning is the process of transforming raw data into consistent data that can be analyzed. It is aimed at improving the content of statistical statements based on the data as well as their reliability. Data cleaning may profoundly influence the statistical statements based on the data.

**About the the Data set**

> This dataset includes information on food choices, nutrition, preferences, childhood favorites, and other information from college students. There are 126 responses from students. Data is raw and uncleaned. In this raw data, we have a categorical variables which have been encoded to Continuous variables for analysis. So, our major data cleaning task in here is to take care of the missing values and also to make sure there are no discrepancies in the encoded data

The Data set choosen for the data cleaning task is downloaded from Kaggle. Kaggle is an online community platform for data scientists and machine learning enthusiasts. Kaggle allows users to collaborate with other users, find and publish datasets, use GPU integrated notebooks, and compete with other data scientists to solve data science challenges.

After dowloading the data set, it was stored in a github repository from where it was loaded into notebook.

**Note:** All un-answered question during cleaning process are answered at the end of the notebook.

In [1]:
# Setting up the enviromnet

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Loading the data set

df = pd.read_csv("https://raw.githubusercontent.com/Umerfarooq122/Data_sets/main/food_coded.csv")

# Displaying first 4 and last 4 rows

df.head(4)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.4,2,1,430,NaN,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.3,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.2,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,NaN,3,1,1315,"Not sure, 240"

## **Summary statistics and structure:**

we can check the mean, standard deviation, counts , min/max and quantiles with the help of `describe()` function for all the columns with numeric data type. BUt median is missing so we can get median by `.median()` method in the code cell below

In [3]:
df.describe()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,...,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories
count,125.000000,125.000000,125.000000,106.000000,124.000000,125.00000,106.000000,122.000000,125.000000,108.000000,...,124.000000,124.000000,124.000000,123.000000,125.000000,124.000000,125.000000,125.000000,125.000000,125.000000
mean,1.392000,1.112000,577.320000,3.028302,505.241935,1.75200,2.698113,2.786885,2.688000,1.388889,...,2.806452,3.120968,1.217742,1.390244,3.336000,947.580645,555.040000,4.008000,1.512000,1073.400000
std,0.490161,0.316636,131.214156,0.639308,230.840506,0.43359,1.972042,1.038351,1.910987,0.974759,...,1.423824,1.115980,0.414385,0.489800,1.436528,202.090179,152.370379,1.081337,0.501867,248.667092
min,1.000000,1.000000,265.000000,2.000000,315.000000,1.00000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,580.000000,345.000000,1.000000,1.000000,575.000000
25%,1.000000,1.000000,430.000000,3.000000,420.000000,2.00000,2.000000,2.000000,2.000000,1.000000,...,2.000000,2.000000,1.000000,1.000000,2.000000,725.000000,500.000000,3.000000,1.000000,900.000000
50%,1.000000,1.000000,610.000000,3.000000,420.000000,2.00000,2.000000,3.000000,2.000000,1.000000,...,3.000000,3.000000,1.000000,1.000000,3.000000,940.000000,500.000000,4.000000,2.000000,900.000000
75%,2.000000,1.000000,720.000000,3.000000,420.000000,2.00000,3.000000,3.000000,3.000000,1.000000,...,4.000000,4.000000,1.000000,2.000000,5.000000,1165.000000,690.000000,5.000000,2.000000,1315.000000
max,2.000000,2.000000,720.000000,4.000000,980.000000,2.00000,9.000000,5.000000,9.000000,6.000000,...,5.000000,6.000000,2.000000,2.000000,5.000000,1165.000000,850.000000,5.000000,2.000000,1315.000000

In [4]:
df.median()

<ipython-input-4-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Gender                            1.0
breakfast                         1.0
calories_chicken                610.0
calories_day                      3.0
calories_scone                  420.0
coffee                            2.0
comfort_food_reasons_coded        2.0
cook                              3.0
comfort_food_reasons_coded.1      2.0
cuisine                           1.0
diet_current_coded                2.0
drink                             2.0
eating_changes_coded              1.0
eating_changes_coded1             4.0
eating_out                        2.0
employment                        2.0
ethnic_food                       4.0
exercise                          1.0
father_education                  4.0
fav_cuisine_coded                 1.0
fav_food                          1.0
fries                             1.0
fruit_day                         5.0
grade_level                       2.0
greek_food                        4.0
healthy_feeling                   5.0
ideal_diet_coded                  3.0
income                            5.0
indian_food                       3.0
italian_food                      5.0
life_rewarding                    5.0
marital_status                    1.0
mother_education                  4.0
nutritional_check                 3.0
on_off_campus                     1.0
parents_cook                      1.0
pay_meal_out                      3.0
persian_food                      3.0
self_perception_weight            3.0
soup                              1.0
sports                            1.0
thai_food                         3.0
tortilla_calories               940.0
turkey_calories                 500.0
veggies_day                       4.0
vitamins                          2.0
waffle_calories                 900.0
dtype: float64

In [5]:
#Checking the data types of column and shape

print(df.info())
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 61 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   GPA                           123 non-null    object
 1   Gender                        125 non-null    int64
 2   breakfast                     125 non-null    int64
 3   calories_chicken              125 non-null    int64
 4   calories_day                  106 non-null    float64
 5   calories_scone                124 non-null    float64
 6   coffee                        125 non-null    int64
 7   comfort_food                  124 non-null    object
 8   comfort_food_reasons          124 non-null    object
 9   comfort_food_reasons_coded    106 non-null    float64
 10  cook                          122 non-null    float64
 11  comfort_food_reasons_coded.1  125 non-null    int64
 12  cuisine                       108 non-null    float64
 13  diet_current                  124 non-null    object
 14  diet_current_coded            125 non-null    int64
 15  drink                         123 non-null    float64
 16  eating_changes                122 non-null    object
 17  eating_changes_coded          125 non-null    int64
 18  eating_changes_coded1         125 non-null    int64
 19  eating_out                    125 non-null    int64
 20  employment                    116 non-null    float64
 21  ethnic_food                   125 non-null    int64
 22  exercise                      112 non-null    float64
 23  father_education              124 non-null    float64
 24  father_profession             122 non-null    object
 25  fav_cuisine                   123 non-null    object
 26  fav_cuisine_coded             125 non-null    int64
 27  fav_food                      123 non-null    float64
 28  food_childhood                124 non-null    object
 29  fries                         125 non-null    int64
 30  fruit_day                     125 non-null    int64
 31  grade_level                   125 non-null    int64
 32  greek_food                    125 non-null    int64
 33  healthy_feeling               125 non-null    int64
 34  healthy_meal                  124 non-null    object
 35  ideal_diet                    124 non-null    object
 36  ideal_diet_coded              125 non-null    int64
 37  income                        124 non-null    float64
 38  indian_food                   125 non-null    int64
 39  italian_food                  125 non-null    int64
 40  life_rewarding                124 non-null    float64
 41  marital_status                124 non-null    float64
 42  meals_dinner_friend           122 non-null    object
 43  mother_education              122 non-null    float64
 44  mother_profession             123 non-null    object
 45  nutritional_check             125 non-null    int64
 46  on_off_campus                 124 non-null    float64
 47  parents_cook                  125 non-null    int64
 48  pay_meal_out                  125 non-null    int64
 49  persian_food                  124 non-null    float64
 50  self_perception_weight        124 non-null    float64
 51  soup                          124 non-null    float64
 52  sports                        123 non-null    float64
 53  thai_food                     125 non-null    int64
 54  tortilla_calories             124 non-null    float64
 55  turkey_calories               125 non-null    int64
 56  type_sports                   104 non-null    object
 57  veggies_day                   125 non-null    int64
 58  vitamins                      125 non-null    int64
 59  waffle_calories               125 non-null    int64
 60  weight                        123 non-null    object
dtypes: float64(20), int64(27), object(14)
memory usage: 59.7+ KB
None
(125, 61)

## **Changing the column name:**
The column names look perfectly fine and meaningful.  

**Note:** For the sake of this assignment we will change a few names for the columns at the end of notebook. For now we will leave as it is

In [6]:
#Checking column name:

df.columns

Index(['GPA', 'Gender', 'breakfast', 'calories_chicken', 'calories_day',
       'calories_scone', 'coffee', 'comfort_food', 'comfort_food_reasons',
       'comfort_food_reasons_coded', 'cook', 'comfort_food_reasons_coded.1',
       'cuisine', 'diet_current', 'diet_current_coded', 'drink',
       'eating_changes', 'eating_changes_coded', 'eating_changes_coded1',
       'eating_out', 'employment', 'ethnic_food', 'exercise',
       'father_education', 'father_profession', 'fav_cuisine',
       'fav_cuisine_coded', 'fav_food', 'food_childhood', 'fries', 'fruit_day',
       'grade_level', 'greek_food', 'healthy_feeling', 'healthy_meal',
       'ideal_diet', 'ideal_diet_coded', 'income', 'indian_food',
       'italian_food', 'life_rewarding', 'marital_status',
       'meals_dinner_friend', 'mother_education', 'mother_profession',
       'nutritional_check', 'on_off_campus', 'parents_cook', 'pay_meal_out',
       'persian_food', 'self_perception_weight', 'soup', 'sports', 'thai_food',
       'tortilla_calories', 'turkey_calories', 'type_sports', 'veggies_day',
       'vitamins', 'waffle_calories', 'weight'],
      dtype='object')

## **Handling missing data:**
Let's create a list of columns that contains the missing values

In [7]:
# Saving the columns that has missing values
cols_with_missing = [col for col in df.columns
                     if df[col].isnull().any()]

In [8]:
# Printing the names of columns and number of missing values in that column
for i in cols_with_missing:
    print(i,df[i].isnull().sum())

GPA 2
calories_day 19
calories_scone 1
comfort_food 1
comfort_food_reasons 1
comfort_food_reasons_coded 19
cook 3
cuisine 17
diet_current 1
drink 2
eating_changes 3
employment 9
exercise 13
father_education 1
father_profession 3
fav_cuisine 2
fav_food 2
food_childhood 1
healthy_meal 1
ideal_diet 1
income 1
life_rewarding 1
marital_status 1
meals_dinner_friend 3
mother_education 3
mother_profession 2
on_off_campus 1
persian_food 1
self_perception_weight 1
soup 1
sports 2
tortilla_calories 1
type_sports 21
weight 2

## **Replacing and Removing missing values:**

In this particular section we will handle the missing data. In order to achieve that we will be replacing and removing missing values based on frequency, for instance `calories_day` column has 19 missing values so if we remove all of it we are going to miss a lot of information in the corresponding columns so in that case we will replace it by a number that makes sense to us while columns like `calories_scone` and `comfort_food` has only 1 missing value each so we can remove those. After replacing and removing missing values some rows will drop automatically.

We can see that some column like `type_sport`,`exercise`,`cuisine` e.t.c has a lot of missing data if we remove them from data frame, we will be missing out on a lot of information. So lets replace the missing values in those column by meaningful replacement using `fill.na()`.

In [9]:
df['calories_day'].fillna(1,inplace=True)
df['comfort_food_reasons_coded'].fillna(9,inplace=True)
df['cuisine'].fillna(6,inplace=True)
df['employment'].fillna(4,inplace=True)
df['exercise'].fillna(5,inplace=True)
df['type_sports'].fillna('Nothing',inplace=True)

After replacing the values in columns with a lot of missing values. Lets reomve the other missing values

In [10]:
# Removing missing values
for i in cols_with_missing:
    df = df[~df[i].isnull()]

In [11]:
# Checking the shape of data frame after the removing the missing values
df.shape

(101, 61)

We can see that some of the rows have been removed because of missing values. Let me just check the data type of columns if there are any bogus values or data type. I will use `decribe()` function to see if all the numeric data is defined as int or float.

In [12]:
df.describe()

,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food_reasons_coded,cook,comfort_food_reasons_coded.1,cuisine,...,persian_food,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories
count,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,...,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000,101.000000
mean,1.376238,1.099010,588.465347,2.792079,494.158416,1.742574,3.613861,2.722772,2.584158,1.950495,...,2.801980,3.148515,1.217822,1.356436,3.336634,950.693069,570.940594,4.039604,1.485149,1080.000000
std,0.486857,0.300165,122.089604,0.909031,214.860500,0.439397,2.939287,1.068820,1.872257,1.818660,...,1.385784,1.152269,0.414824,0.481335,1.444141,201.003768,150.536894,1.066966,0.502272,244.726378
min,1.000000,1.000000,265.000000,1.000000,315.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,580.000000,345.000000,1.000000,1.000000,575.000000
25%,1.000000,1.000000,610.000000,2.000000,420.000000,1.000000,2.000000,2.000000,1.000000,1.000000,...,2.000000,2.000000,1.000000,1.000000,2.000000,725.000000,500.000000,3.000000,1.000000,900.000000
50%,1.000000,1.000000,610.000000,3.000000,420.000000,2.000000,2.000000,3.000000,2.000000,1.000000,...,3.000000,3.000000,1.000000,1.000000,4.000000,940.000000,500.000000,4.000000,1.000000,1315.000000
75%,2.000000,1.000000,720.000000,3.000000,420.000000,2.000000,5.000000,3.000000,3.000000,2.000000,...,4.000000,4.000000,1.000000,2.000000,5.000000,1165.000000,690.000000,5.000000,2.000000,1315.000000
max,2.000000,2.000000,720.000000,4.000000,980.000000,2.000000,9.000000,5.000000,9.000000,6.000000,...,5.000000,6.000000,2.000000,2.000000,5.000000,1165.000000,850.000000,5.000000,2.000000,1315.000000

## **Fixing invalid values in columns:**

`Describe()` Function displays the summary statistics for all the columns that has numeric data. Over here if we look closely `GPA` column is missing in the summary statistics which means that either the data type is  not properly or it may have some another type of data mixed into the whole column. In order to confirm what kind of data to we have in `GPA` let's check out the the whole column. I will use `value_counts()` which counts the uniques values.

In [13]:
df['GPA'].value_counts()

3.5           10
3             10
3.3            9
3.2            9
3.7            8
3.4            7
3.6            7
3.8            6
2.8            4
3.9            4
4              3
3.1            2
3.68           1
3.92           1
2.6            1
3.83           1
3.75           1
2.4            1
Unknown        1
3.73           1
3.77           1
3.63           1
3.79 bitch     1
3.89           1
3.67           1
Personal       1
3.35           1
3.605          1
2.9            1
3.654          1
3.65           1
3.904          1
2.25           1
3.882          1
Name: GPA, dtype: int64

### **Creating and removing column:**

Now we  can see that there are some unwanted words in the column so we get of those to make our data set even more cleaner.

**Note:** For the sake of assignment I will drop some rows and columns at the end too.

In [14]:
df.dropna(subset=['GPA'],inplace=True)
df['GPA_new'] = df['GPA'].str.replace(".","")
df = df[~df['GPA_new'].str.isdigit() == False]
df['GPA'] = df['GPA'].astype(float)
df.drop('GPA_new',axis=1,inplace=True)

<ipython-input-14-dfa58d7c6482>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df['GPA_new'] = df['GPA'].str.replace(".","")
<ipython-input-14-dfa58d7c6482>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GPA'] = df['GPA'].astype(float)
<ipython-input-14-dfa58d7c6482>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('GPA_new',axis=1,inplace=True)

In [15]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.400,2,1,430,1.0,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
2,3.300,1,1,720,4.0,420.0,2,"frozen yogurt, pizza, fast food","stress, sadness",1.0,...,1.0,2.0,5,1165.0,500,none,5,1,900,I'm not answering this.
3,3.200,1,1,430,3.0,420.0,2,"Pizza, Mac and cheese, ice cream",Boredom,2.0,...,1.0,2.0,5,725.0,690,Nothing,3,1,1315,"Not sure, 240"
4,3.500,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190

We can see that the data frame looks fine. Let's check out the shape of data frame. We are expecting to loose a few more rows

In [16]:
df.shape

(98, 61)

Similarly, I did check the remaining columns like this and everything looked pretty much fine apart from `weight` column so we will jump straight to that column. I will ignore the columns out which does not have any problem with the values in order to make the notebook more precise

In [17]:
df['weight'].value_counts()

140                         7
150                         6
135                         6
190                         5
155                         5
175                         5
170                         5
185                         5
145                         4
130                         4
165                         4
125                         4
200                         3
180                         3
120                         3
129                         2
210                         2
160                         2
113                         2
167                         2
144 lbs                     1
260                         1
184                         1
192                         1
128                         1
138                         1
187                         1
169                         1
168                         1
205                         1
105                         1
123                         1
264                         1
110                         1
116                         1
137                         1
Not sure, 240               1
I'm not answering this.     1
156                         1
Name: weight, dtype: int64

In [18]:
df = df[df['weight'].str.isdigit()]

In [19]:
df['weight'].value_counts()

140    7
135    6
150    6
190    5
155    5
175    5
185    5
170    5
165    4
125    4
130    4
145    4
120    3
200    3
180    3
129    2
160    2
167    2
113    2
210    2
260    1
184    1
128    1
138    1
192    1
187    1
205    1
169    1
168    1
105    1
123    1
264    1
110    1
116    1
137    1
156    1
Name: weight, dtype: int64

In [20]:
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,comfort_food,comfort_food_reasons,comfort_food_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.400,2,1,430,1.0,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155
4,3.500,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,1.0,4,940.0,500,Softball,4,2,760,190
5,2.250,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",4.0,...,1.0,2.0,4,940.0,345,None.,1,2,1315,190
6,3.800,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,1.0,5,940.0,690,soccer,4,1,1315,180

In [21]:
df.shape

(95, 61)

**Note: At this point our data set is completing clean and ready for analysis but let's answer the question from assignment**

## **Modifying column names:**
So I will change the name of column `comfort_food` to `food_comfort`. Similarly `food_comfort_reasons` to just `comfort_reasons`.

In [22]:
df.columns = df.columns.str.replace('comfort_food', 'food_comfort')
df.columns = df.columns.str.replace('food_comfort_reasons', 'comfort_reasons')

# Displaying the results after changing column name
df.head(2)

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,food_comfort,comfort_reasons,comfort_reasons_coded,...,soup,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight
0,2.400,2,1,430,1.0,315.0,1,none,we dont have comfort,9.0,...,1.0,1.0,1,1165.0,345,car racing,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,1.0,2,725.0,690,Basketball,4,2,900,155

## **Creating new column:**

We already did create and dropped the columns previously but that was more like a part of the process. Over here I will subtract the `calories_scone` from `calories_chicken` and store in a new column called as `new_diff`

In [23]:
df['new_diff']=df['calories_chicken']-df['calories_scone']
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,food_comfort,comfort_reasons,comfort_reasons_coded,...,sports,thai_food,tortilla_calories,turkey_calories,type_sports,veggies_day,vitamins,waffle_calories,weight,new_diff
0,2.400,2,1,430,1.0,315.0,1,none,we dont have comfort,9.0,...,1.0,1,1165.0,345,car racing,5,1,1315,187,115.0
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,1.0,2,725.0,690,Basketball,4,2,900,155,190.0
4,3.500,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,1.0,4,940.0,500,Softball,4,2,760,190,300.0
5,2.250,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",4.0,...,2.0,4,940.0,345,None.,1,2,1315,190,-370.0
6,3.800,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,1.0,5,940.0,690,soccer,4,1,1315,180,190.0

## **Dropping Columns and Rows:**

Lets drop the un-necessary columns first. We will remove the column we just made since it does not make any sense. After that i will remove a few rows from the bottom using `.drop()` method

In [24]:
# Removing multiple columns in one code
df=df.drop(columns=['type_sports','new_diff'])
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,food_comfort,comfort_reasons,comfort_reasons_coded,...,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories,weight
0,2.400,2,1,430,1.0,315.0,1,none,we dont have comfort,9.0,...,3.0,1.0,1.0,1,1165.0,345,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,3.0,1.0,1.0,2,725.0,690,4,2,900,155
4,3.500,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,4.0,1.0,1.0,4,940.0,500,4,2,760,190
5,2.250,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",4.0,...,5.0,1.0,2.0,4,940.0,345,1,2,1315,190
6,3.800,2,1,610,3.0,420.0,2,"Chocolate, ice cream, french fries, pretzels","stress, boredom",1.0,...,4.0,1.0,1.0,5,940.0,690,4,1,1315,180

We can see that the columns have been dropped from the data frame

In [25]:
# Removing multiple rows based on row numbers

df=df.drop(df.index[[4, 6]])
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,food_comfort,comfort_reasons,comfort_reasons_coded,...,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories,weight
0,2.400,2,1,430,1.0,315.0,1,none,we dont have comfort,9.0,...,3.0,1.0,1.0,1,1165.0,345,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,3.0,1.0,1.0,2,725.0,690,4,2,900,155
4,3.500,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,4.0,1.0,1.0,4,940.0,500,4,2,760,190
5,2.250,1,1,610,3.0,980.0,2,"Candy, brownies and soda.","None, i don't eat comfort food. I just eat whe...",4.0,...,5.0,1.0,2.0,4,940.0,345,1,2,1315,190
7,3.300,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,3.0,1.0,2.0,1,725.0,500,4,2,1315,137

In [26]:
# Removing multiple rows based on index

df=df.drop(index=5)
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,food_comfort,comfort_reasons,comfort_reasons_coded,...,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories,weight
0,2.400,2,1,430,1.0,315.0,1,none,we dont have comfort,9.0,...,3.0,1.0,1.0,1,1165.0,345,5,1,1315,187
1,3.654,1,1,610,3.0,420.0,2,"chocolate, chips, ice cream","Stress, bored, anger",1.0,...,3.0,1.0,1.0,2,725.0,690,4,2,900,155
4,3.500,1,1,720,2.0,420.0,2,"Ice cream, chocolate, chips","Stress, boredom, cravings",1.0,...,4.0,1.0,1.0,4,940.0,500,4,2,760,190
7,3.300,1,1,720,3.0,420.0,1,"Ice cream, cheeseburgers, chips.",I eat comfort food when im stressed out from s...,1.0,...,3.0,1.0,2.0,1,725.0,500,4,2,1315,137
9,3.300,1,1,430,3.0,315.0,2,"Mac and cheese, chocolate, and pasta","Stress, anger and sadness",1.0,...,3.0,1.0,1.0,4,580.0,345,5,1,900,125

## **Sorting data based on multiple column:**

So I will try to sort the data frame in order to bring out the highest `GPA` and correspondingly the highest `comfort_reasons_coded` in each `GPA` group

In [27]:
df=df.sort_values(by=['GPA', 'comfort_reasons_coded'], ascending=[False,False])
df[['GPA','comfort_reasons_coded', 'cuisine']].head(10)

       GPA  comfort_reasons_coded  cuisine
71   4.000                    2.0      1.0
16   4.000                    1.0      6.0
31   4.000                    1.0      1.0
96   3.920                    7.0      2.0
11   3.904                    3.0      1.0
112  3.900                    9.0      1.0
24   3.900                    6.0      1.0
62   3.900                    2.0      1.0
79   3.900                    2.0      1.0
38   3.890                    2.0      1.0

## **Filtering based on some condition:**

 I will try to filter out based on `chicken_calories` >= 500 and `calories_day` == 4

In [28]:
df1= df[(df['calories_chicken']>= 500) & (df['calories_day']==4)]
df1.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,food_comfort,comfort_reasons,comfort_reasons_coded,...,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories,weight
11,3.904,1,1,720,4.0,420.0,2,"chocolate, pasta, soup, chips, popcorn","sadness, stress, cold weather",3.0,...,2.0,1.0,1.0,5,940.0,500,5,1,900,110
112,3.900,1,1,610,4.0,315.0,2,"Chocolate, Ice cream, pizza","Sadness, happiness and boredom",9.0,...,3.0,1.0,2.0,5,725.0,500,3,2,900,129
62,3.900,2,1,610,4.0,980.0,2,"ice cream, cookies, ice cream","boredom, sadness",2.0,...,2.0,1.0,1.0,2,1165.0,850,4,1,1315,210
56,3.800,2,1,720,4.0,315.0,2,"Pizza, Ice Cream, Chicken Wings",I usually only eat comfort foods when I am bor...,2.0,...,2.0,1.0,1.0,5,1165.0,500,5,1,1315,175
90,3.680,2,1,720,4.0,420.0,2,"chips, ice cream, fruit snacks",boredom,2.0,...,4.0,2.0,1.0,3,1165.0,850,4,1,1315,260

## **Changing letters to upper case:**

In [29]:
df['food_comfort']=df['food_comfort'].str.upper()
df.head()

,GPA,Gender,breakfast,calories_chicken,calories_day,calories_scone,coffee,food_comfort,comfort_reasons,comfort_reasons_coded,...,self_perception_weight,soup,sports,thai_food,tortilla_calories,turkey_calories,veggies_day,vitamins,waffle_calories,weight
71,4.000,1,1,720,1.0,420.0,2,"CHOCOLATE, ICE CREAM, COOKIE DOUGH","Boredom, being in your period, and long bus ri...",2.0,...,4.0,1.0,1.0,4,1165.0,690,5,1,1315,140
16,4.000,1,1,265,3.0,420.0,1,"SALTFISH, CANDY AND KIT KAT",Stress,1.0,...,3.0,1.0,2.0,1,580.0,345,5,1,760,145
31,4.000,2,1,610,3.0,420.0,2,"CHIPS AND DIP, PEPSI,","stres, boredom, and nighttime",1.0,...,4.0,2.0,2.0,4,940.0,690,5,1,1315,205
96,3.920,2,1,430,3.0,420.0,2,"ICE CREAM, CAKE, POP, PIZZA, AND MILKSHAKES.","Happiness, sadness, celebration.",7.0,...,6.0,1.0,2.0,3,725.0,500,2,1,900,210
11,3.904,1,1,720,4.0,420.0,2,"CHOCOLATE, PASTA, SOUP, CHIPS, POPCORN","sadness, stress, cold weather",3.0,...,2.0,1.0,1.0,5,940.0,500,5,1,900,110

## **Checking if the column has numeric data:**

In [30]:
df['comfort_reasons'].str.isnumeric()

71     False
16     False
31     False
96     False
11     False
       ...
114    False
25     False
47     False
85     False
0      False
Name: comfort_reasons, Length: 92, dtype: bool

## **Grouping data frame by one column:**

In [31]:
from numpy.core.fromnumeric import mean
df.groupby(df['cuisine']).agg([mean,min,max])

<ipython-input-31-075619e2ea7d>:2: FutureWarning: ['food_comfort', 'comfort_reasons', 'diet_current', 'eating_changes', 'father_profession', 'fav_cuisine', 'food_childhood', 'healthy_meal', 'ideal_diet', 'meals_dinner_friend', 'mother_profession'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby(df['cuisine']).agg([mean,min,max])

              GPA               Gender         breakfast          \
             mean  min   max      mean min max      mean min max
cuisine
1.0      3.435191  2.6  4.00  1.382353   1   2  1.117647   1   2
2.0      3.527500  3.2  3.92  1.500000   1   2  1.000000   1   1
4.0      3.285000  2.8  3.77  1.500000   1   2  1.000000   1   1
5.0      3.200000  3.2  3.20  2.000000   2   2  1.000000   1   1
6.0      3.456308  2.4  4.00  1.307692   1   2  1.153846   1   2

        calories_chicken  ... veggies_day  vitamins         waffle_calories  \
                    mean  ...         max      mean min max            mean
cuisine                   ...
1.0           591.102941  ...           5  1.544118   1   2     1071.911765
2.0           578.750000  ...           5  1.250000   1   2     1038.125000
4.0           610.000000  ...           3  1.500000   1   2      760.000000
5.0           610.000000  ...           5  2.000000   2   2     1315.000000
6.0           563.076923  ...           5  1.384615   1   2     1091.153846

                            weight
          min   max           mean  min  max
cuisine
1.0       575  1315  2.061840e+201  105  264
2.0       760  1315   2.627002e+22  155  210
4.0       760   760   5.656900e+04  113  138
5.0      1315  1315   1.850000e+02  185  185
6.0       760  1315   1.116309e+37  120  260

[5 rows x 144 columns]

## **Grouping data frame by two column:**

In [38]:
df.groupby(df['cuisine'])['calories_day'].sort_values(ascending=True))

AttributeError: ignored

In [43]:
df2=df.sort_values(['cuisine','calories_day'],ascending=False).groupby('cuisine')
df2[['cuisine','calories_day']].head(3)

     cuisine  calories_day
90       6.0           4.0
69       6.0           4.0
37       6.0           4.0
119      5.0           3.0
114      4.0           3.0
117      4.0           1.0
99       2.0           4.0
96       2.0           3.0
110      2.0           3.0
11       1.0           4.0
112      1.0           4.0
62       1.0           4.0